/* FORM */
table.form {
  border-radius: 5px;
  margin: 10px;
  background-color: transparent;
  padding: 10px;
  border: 1px solid #fafed5;
}

/* layout */
div.profile {
  float: left;
}

#top {
  position: relative;
  background-color: #036fab;
  color: white;
  padding: 5px;
  margin: 0px 0px 10px 0px;
}

#bottom {
  position: relative;
  background-color: #c2dfef;
  padding: 5px;
  margin: 10px 0px 0px 0px;
}

#right {
  float: right;
  background-color: #ece3a5;
  padding: 5px;
  width: 150px;
}

.right_content {
  background-color: #dddddd;
  padding: 5px;
  margin: 0px 170px 0px 0px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

/* ------ */

.ltr {
  direction: ltr;
}

.error {
  color: red;
}

.warning {
  color: #ea9538;  
}

.info {
  color: green;
}

body {
  direction: rtl;
  background-color: #ffffff;
  font-size: 12px;
  font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
  color: #000000;  
  margin: 10px;
}

h1 {
  font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
  border-bottom: 1px solid #AFAFAF; 
  font-size:  16px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}


/* ............................  */

table.grid {
  border-spacing: 5px;
  background-color: white;
  margin: 10px;
  padding: 10px; 
  border-radius: 5px;
  min-width: 50%;
}

table.grid td, table.grid th {
  padding: 4px;
  font: normal normal 12px tahoma;
  border-radius: 2px;
  border: 1px dotted transparent;
}

table.grid th.grid-header {
  background-color: #ead5f3;
  font-weight: bold;
}

table.grid tr.grid-even td {
  background-color: #f3d5ef;
  font-weight: normal;  
}

table.grid tr.grid-odd td {
  background-color: #edbee7;
  font-weight: normal;
}

table.grid tr:hover td {
  border: 1px dotted black;
}