span.country {
	color: green;
	display: inline-block;
	padding: 0px 3px;
}

table.log {
	background-color: #040c40;	
	font: normal normal 12px tahoma;
	border-spacing: 2px;	
}

table.log th {
	font-weight: bold;
	color: white;
}

table.log td {
	padding: 1px;	
	background-color: white;
}

table.log tr.even td {
	background-color: #bcc3ec;
}