body {
  direction: rtl;
}

/* login */

div.login {
  margin: 100px auto;
  padding: 20px;
  background-color: #e59595;
  direction: ltr;
  width: 40%;
  min-width: 200px;
}

table.form {
  
}

table.form td.buttons {
  text-align: right;
}