/*@import url("fonts.css");*/

body {
  direction: rtl;
  background-color: #FFF;  
  margin: 0px;
  font: normal normal 12px "Times New Roman", Times, serif;
}

div#main_container {
  padding: 0px;    
  margin: 0px;
  background-color: white;  
}

div#header {
  border-top: 6px solid black;  
  box-shadow: 0px 2px 2px #999;
  background-color: #b80909;
  height: 100px;    
  overflow: hidden;
}

div#logo {  
  float: right;
  position: relative;
  top: 10px;
  right: 30px;
  background-color: white;
  padding: 5px;
  border-radius: 3px;
}

div#logo img {
  display: inline-block;
  margin-left: 10px;
}

div.socialIcons {
  display: inline-block;
}

div.socialIcons img {
  margin-left: 10px;
}

div#newspaper {
  float: left;    
  margin: 20px 30px;
  position: relative;
  border: 1px solid #fff;  
  width: 70px;
  height: 50px;
  /*visibility: hidden;*/
  background-color: #fff;
}

div#newspaper a#newspaper_thumbnail {
  display: inline-block;
  width: 70px;
  height: 50px;
}

div#newspapers-thumbnails {
  width: 100px;
  background-color: transparent;
  position: absolute;
}

div#newspapers-thumbnails img {
  display: inline-block;
  box-shadow: 2px 2px 2px #000;
  cursor: pointer;
  border: 1px solid #fff;  
}


div.middle {
  padding: 30px;
  /*border: 1px dashed red;*/
  min-width: 800px;
}

div.left {
  /*border: 1px dashed green;*/
  float: left;
  width: 30%;
  min-width: 300px;
  max-width: 500px;
}

div.right {
  /*border: 1px dashed greenyellow;*/
  width: 70%;
  min-width: 500px;
  margin-left: 300px;
  min-height: 400px;
}



article.hotNews {
  /*border: 1px dashed greenyellow;*/
  float: right;
  display: inline-block;
  margin-bottom: 20px;
  width: 45%;
  min-height: 150px;
  margin-left: 25px;  
}

h1.hotNewsTitle a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 2px;
  margin-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  display: block;
  text-overflow: ellipsis;
}

h1.hotNewsTitle a:hover {
  color: #f30d0a;
}

div.hotNewsDescription {
  font-size: 12px;
  margin-top: 5px;
  text-align: justify;
  height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.hotNewsPhoto {
  float: left;
  padding-right: 10px;
}

div.hotNewsPhoto img {

  box-shadow: 2px 2px 2px #777;
}

div.sideNews {  
  margin: 0px;
  min-height: 50px;
  clear: both;
  font-family: tahoma;
  font-size: 12px;
  /*border: 1px dotted greenyellow;*/
}

div.sideNewsTitle a {
  color: #b80909;
  text-decoration: none;  
  white-space: nowrap;
  max-width: 70%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;        
}

div.sideNewsTitle a:visited {
  color: #9d0d0d;
}

div.sideNewsList {
    
}

div.sideNewsList h4 {
  font-size: 16px;
}

a.sideNewsSite {
  float: left;
  font-size: 10px;
  text-decoration: none;
  color: #777;  
}

div.sideNews  div.sideNewsPhoto img {  
  box-shadow: 1px 1px 1px #888;  
}

div.sideNews  div.sideNewsPhoto {
  width: 50px;
  float: right;
  margin-left: 5px;
}