/*
@font-face {
  font-family: Khoramshahr;
  src: url('font/XB Khoramshahr.ttf') format('truetype'); 
}

@font-face {
  font-family: Khoramshahr;
  src: url('font/XB KhoramshahrBd.ttf') format('truetype');
  font-weight: bold;
}


@font-face {
  font-family: Khoramshahr;
  src: url('font/XB KhoramshahrBdIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Khoramshahr;
  src: url('font/XB KhoramshahrIt.ttf') format('truetype');  
  font-style: italic;
}
*/

/* ------------------ */

@font-face {
  font-family: Nazanin;
  src: url('font/BNazanin.ttf') format('truetype'); 
}