body {
  margin: 10px;
  font: normal normal 12px tahoma;
}

div#status {
  padding: 10px;
  background-color: #d5feb9;
  box-shadow: 3px 3px 3px #e7f0e1;
  margin: 20px;
}

div#status table {
  color: #365525;
  font-family: arial;
  margin: 0px auto;
  width: 50%; 
  
}

div#status table td {
  border: inset 1px;
  text-align: center;
}